@import "../pages/home/home";
@import "../pages/about/about";
@import "../pages/contact/contact";

.scroll-content {
background: url('../../assets/background/backgroundsmall.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
   margin-bottom: 0px;
}

.col-33 {
  width: 33%;
  float:left;
}